* {
    margin: 0;
    padding: 0;
}
.img-containter {
    max-width: 400px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
}
.img-containter img {
    max-width: 100%;
}
.hover-effect {
    position: absolute;
    left: 0;
    top: 50%;
    color: white;
    transition: 0.5s;
    transform: translateY(-50%);
}
    
.hover-effect ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hover-effect ul li {
    margin: 7px 10px;
    transition: 0.5s;
    position: relative;
    left:-100%;
  
    
}
  .hover-effect ul li a {  
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 184, 184);
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none; 
 } 
 
 

.img-containter:hover .hover-effect ul li a:hover {
    transform: rotate3d(0, 1, 1, 90deg);
    
}
 .img-containter:hover .hover-effect ul li  { 
    
    left: 50px;
    

    transition: 0.5s;
} 


/* .img-containter:hover .hover_effact ul li:nth-child(2) {
    transition: 0.8s;
}
.img-containter:hover .hover_effact ul li:nth-child(3) {
    transition: 1s;
} */ 